@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Spin Animation */
@keyframes spin {
  to {
    rotate: 360deg;
  }
}

/* Common */
.playstack-player-container:is(.bunny),
.playstack-player-container,
.playstack-player-container:is(.gdrive) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}

/* Gdrive Player */
.playstack-player-container:is(.gdrive) .hide-link {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 12px;
  top: 12px;
  background: transparent;
}

.playstack-player-container:is(.gdrive) iframe,
.playstack-player-container:is(.bunny) iframe {
  border: none;
  width: 100%;
  height: 100%;
  border: none !important;
}

/* Bunny Player */
.playstack-player-container:is(.bunny) .thumbnail {
  z-index: 5;
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.playstack-player-container:is(.bunny) .loader {
  inset: 0;
  position: absolute;
  z-index: 10;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  pointer-events: none;
}

.playstack-player-container:is(.bunny) .loader > div {
  border: 2px solid var(--player-theme-color);
  border-left-color: transparent;
  border-radius: 999px;
  height: 2rem;
  width: 2rem;
  animation: spin 0.5s ease-in-out infinite;
}

.playstack-player-container:is(.bunny) iframe {
  background: transparent;
  z-index: 20;
}

/* Other Players */
@keyframes progress {
  to {
    width: 100%;
  }
}

.playstack-player-container {
  background: black;
  z-index: 10;
  inset: 0;
  overflow: hidden;
}

.playstack-player-container,
.playstack-player-container * {
  font-family: 'Rubik', sans-serif !important;
}

.playstack-player-container .control-overlaid {
  width: inherit;
  height: inherit;
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  inset: 0;
}

.playstack-player-container .control-overlaid > div:not(.loader) {
  height: 2.8rem;
  width: 2.8rem;
  background: var(--player-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer !important;
}

.playstack-player-container .control-overlaid .loader {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  border: 3px solid var(--player-theme-color);
  opacity: 0.7;
  position: absolute;
  border-left-color: transparent;
  animation: spin 0.5s ease-in-out infinite;
}

.playstack-player-container .control-overlaid > div svg {
  height: 1.6rem;
  width: 1.6rem;
}

.playstack-player-container .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 11;
  transition: opacity 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, transparent, rgba(37, 37, 37, 0.8));
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5rem 0.5rem;
  gap: 0.5rem;
  box-sizing: border-box;
}

.playstack-player-container .controls .group-btn-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1rem;
}

.playstack-player-container .controls .group-btn-controls > button,
.playstack-player-container .controls > button {
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer !important;
}

.playstack-player-container .controls .group-btn-controls > button:hover,
.playstack-player-container .controls > button:hover {
  background: var(--player-theme-color);
}

.playstack-player-container .controls .group-btn-controls > button svg,
.playstack-player-container .controls > button svg {
  height: 1.2rem;
  width: 1.2rem;
}

.playstack-player-container .controls > button svg.speaker path:nth-child(3),
.playstack-player-container .controls > button svg.speaker-2 path:nth-child(2) {
  fill: white;
}

.playstack-player-container .controls .seekbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.playstack-player-container .controls .seekbar .time {
  font-size: 12px;
  color: white;
}

.playstack-player-container .controls .SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}

.playstack-player-container .controls .SliderTrack {
  background-color: rgba(153, 153, 153, 0.5);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 5px;
}

.playstack-player-container .controls .SliderTrack[data-seeking='true']::after {
  content: '';
  height: 5px;
  position: absolute;
  border-radius: 9999px;
  width: var(--playstack-player-seekbar-progress-loaded-percentage);
  background: rgba(153, 153, 153, 1);
  animation: progress 4s ease-in-out infinite;
}

.playstack-player-container .controls .SliderRange {
  position: absolute;
  background-color: var(--player-theme-color);
  border-radius: 9999px;
  height: 100%;
  z-index: 1;
}

.playstack-player-container .controls .SliderThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--player-theme-color);
  border-radius: 10px;
  cursor: pointer !important;
}

.playstack-player-container .controls .SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 5px color(display-p3 0 0 0/0.6);
}

.playstack-player-container div[data-radix-popper-content-wrapper] {
  z-index: 100000 !important;
}

.playstack-player-container .DropdownMenuContent,
.playstack-player-container .DropdownMenuSubContent {
  min-width: 150px;
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.playstack-player-container .RightSlot {
  margin-left: auto;
  padding-right: 5px;
}

.playstack-player-container .RightSlot svg {
  height: 1.2rem;
  width: 1.2rem;
}

.playstack-player-container .DropdownMenuCheckboxItem,
.playstack-player-container .DropdownMenuSubTrigger {
  font-size: 14px;
  line-height: 1;
  color: #555;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 30px;
  padding: 0 5px;
  padding-left: 25px;
  position: relative;
  user-select: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
}

.playstack-player-container .DropdownMenuSubTrigger {
  padding-left: 15px !important;
}

.playstack-player-container .DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.playstack-player-container .DropdownMenuItemIndicator svg {
  height: 1rem;
  width: 1rem;
}

.playstack-player-container .DropdownMenuCheckboxItem:hover,
.playstack-player-container .DropdownMenuSubTrigger:hover {
  background-color: var(--player-theme-color);
  color: white;
}

@media screen and (orientation: landscape) and (min-height: 319px) and (max-height: 480px) {
  .playstack-player-container .youtube-player {
    max-width: 80vw;
  }
}

.playstack-player-container:is(.youtube-shorts) {
  aspect-ratio: 9/16;
}

.playstack-player-container:is(.youtube-shorts) .iframe {
  width: auto !important;
}

.playstack-player-container:not(.default-controls):is(.youtube-shorts) iframe,
.playstack-player-container:not(.default-controls):is(.youtube) iframe,
.playstack-player-container:not(.default-controls):is(.vimeo) iframe {
  height: 1000% !important;
  vertical-align: middle !important;
  display: block !important;
  position: absolute !important;
  border: none !important;
}

.playstack-player-container:not(.default-controls):is(.youtube) iframe {
  width: 100% !important;
}

.playstack-player-container:not(.default-controls):is(.vimeo) iframe {
  width: 1000% !important;
  scale: 0.1;
  margin-top: 1rem;
}

.playstack-player-container:not(.default-controls):is(.vimeo) .vimeo-player {
  margin-top: -1rem;
}

.playstack-player-container:is(.default-controls) iframe {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}

.playstack-player-container:is(.started) iframe {
  opacity: 1 !important;
}
.playstack-player-container:has(.youtube-player):not(.started):not(.default-controls) iframe {
  opacity: 0 !important;
}

.playstack-player-container .youtube-player,
.playstack-player-container .vimeo-player {
  display: inherit;
  position: inherit;
  width: inherit;
  z-index: inherit;
  align-items: inherit;
  justify-content: inherit;
  aspect-ratio: inherit;
  overflow: inherit;
  height: inherit;
}

.playstack-player-container:has(.fullscreen) .vimeo-player {
  height: auto !important;
}
